In [5]:
import kglab

namespaces = {
    "schema":  "http://schema.org/#"
    }

kg = kglab.KnowledgeGraph(
    name = "A recipe KG example based on Food.com",
    base_uri = "",
    namespaces = namespaces,
    )

kg.load_rdf("rdf-triples.ttl")

In [6]:
sparql = """
    SELECT ?author
    WHERE {
        ?author schema:author ?author .
    }
    ORDER BY DESC(?author)
"""

In [12]:
sparql = """
    SELECT ?author ?name ?isbn
    WHERE {
        ?author schema:author "Rita Mae Brown" .
    }
    ORDER BY DESC(?author)
"""

In [13]:
import pandas as pd
#pd.set_option("max_rows", None)

df = kg.query_as_df(sparql)
df.head(20)
print(df)

                       author
0    <http://example.com/444>
1   <http://example.com/3072>
2   <http://example.com/3071>
3   <http://example.com/3070>
4   <http://example.com/3066>
5   <http://example.com/2962>
6   <http://example.com/2695>
7   <http://example.com/2498>
8   <http://example.com/2497>
9   <http://example.com/2496>
10  <http://example.com/2476>
11  <http://example.com/2475>
12  <http://example.com/2474>
13  <http://example.com/2412>
14  <http://example.com/2066>
15  <http://example.com/2037>
16  <http://example.com/1168>
17  <http://example.com/1094>

In [14]:
pyvis_graph = kg.visualize_query(sparql, notebook=True)

pyvis_graph.force_atlas_2based()
pyvis_graph.show("tmp.fig06.html")