# Named Entity Recognition (NER)

## Spacy

First Task: Connect to Database and retrieve text data from there.

In [4]:
# connect to db
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("mysql+pymysql://root:root@localhost:3306/lgbtiq_kg")
print(engine)
table_df = pd.read_sql_table(
    'text_chronik',
    con=engine
)
table_df.head(3)

Engine(mysql+pymysql://root:***@localhost:3306/lgbtiq_kg)

,created_at,updated_at,id,title,text,location,date,year
0,2022-03-22 10:03:40,NaT,1,Lilamunde Lesbenvocal,Der Chor Lilamunde Lesbenvokal gründet sich.,München,1993,1993
1,2022-03-22 10:03:40,NaT,2,„Abtreibungs­paragraf“ §218,Im Zuge des Beginns der zweiten Frauenbewegung...,München,1971,1971
2,2022-03-22 10:03:40,NaT,3,„Come out“-­Lesbentheater,Erster Auftritt des „Come out“-Lesbentheaters ...,München,10. Februar 1979,1979