In [47]:
import kglab

namespaces = {
    "schema":  "http://schema.org/#"
    }

kg = kglab.KnowledgeGraph(
    name = "A recipe KG example based on Food.com",
    base_uri = "",
    namespaces = namespaces,
    )

kg.load_rdf("output/kg_v1.ttl")

In [20]:
# sparql = """
#     SELECT ?author 
#     WHERE {
#         ?Author schema:author ?name.
#     }
#     ORDER BY DESC(?author)
# """

In [26]:
import pandas as pd
from icecream import ic

Alle Triples, die vorhanden sind:

In [48]:


sparql = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT * WHERE {
  ?sub ?pred ?obj .
} LIMIT 10
"""

df = kg.query_as_df(sparql)
df.head(20)
print(df)

                 pred                                                obj  \
0  schema:description      on_view-videoproduction_to V_M_M_C_AK_Uferlos
1  schema:description  Den §175 ersatzlos streichen - jetzt? Podiumsd...
2            rdf:type                                        schema:Book
3       schema:author                        <http://example.com/er_213>
4         schema:isbn                                      9783803112804
5  schema:description  Frauenleben 40 Jahre BRD. Filme. Sonja Ziemann...
6       schema:author                                     Edition Perlon
7         schema:isbn                                         376643103X
8       schema:author                        <http://example.com/er_390>
9            rdf:type                                      schema:Poster

                                       sub
0          <http://example.com/poster/889>
1         <http://example.com/poster/1041>
2            <http://example.com/book/497>
3          <http://example.com/poster/153>
4           <http://example.com/book/3519>
5           <http://example.com/poster/14>
6  <http://example.com/book_publisher_605>
7           <http://example.com/book/2059>
8          <http://example.com/poster/976>
9          <http://example.com/poster/639>

Autoren mit allen Büchern, die sie geschrieben haben

In [51]:
sparql = """
-- SELECT ?author ?author_name ?book
SELECT DISTINCT ?author 
  WHERE {

  ?author rdf:type schema:Author .
  ?author schema:author ?author_name 
  ?book rdf:type schema:Book .
} LIMIT 10
"""

sparql = """
SELECT DISTINCT ?author ?author_name 
  WHERE {

  ?author rdf:type schema:Author .
  ?author schema:author ?author_name 


} LIMIT 10
"""

df = kg.query_as_df(sparql)
df.head(20)
print(df)

                                    author  \
0     <http://example.com/book_author_746>
1    <http://example.com/book_publisher_1>
2   <http://example.com/book_publisher_10>
3  <http://example.com/book_publisher_100>
4  <http://example.com/book_publisher_101>
5  <http://example.com/book_publisher_102>
6  <http://example.com/book_publisher_103>
7  <http://example.com/book_publisher_105>
8  <http://example.com/book_publisher_106>
9  <http://example.com/book_publisher_107>

                                  author_name
0  Donatien Alphonse Francois Marquis de Sade
1                               Joseph Melzer
2                               Ulrike Helmer
3                                      Herder
4                                        Econ
5                                   Max Spohr
6                                   Wagenbach
7                               Wilhelm Heyne
8                                      Ludwig
9                                 Luchterhand

In [39]:
sparql = """
    SELECT ?author ?name ?isbn
    WHERE {
        ?author schema:author "Rita Mae Brown" .
    }
    ORDER BY DESC(?author)
"""

In [14]:
pyvis_graph = kg.visualize_query(sparql, notebook=True)

pyvis_graph.force_atlas_2based()
pyvis_graph.show("tmp.fig06.html")