In [2]:
import pandas as pd
from sqlalchemy import create_engine

# get data
engine = create_engine("mysql+pymysql://root:root@localhost:3306/lgbtiq_kg_clean")

dataframe = pd.read_sql_table(
    'chronik_entities',
    con=engine)

dataframe = pd.DataFrame(dataframe)

label_list = ["LOC", "ORG", "PER", "PUBLICATION", "EVENT", "LAW", "CLUB", "MOVEMENT", "PARTY", "AWARD"]

dataframe = dataframe[dataframe['label'].isin(label_list)]

      id label               name
0  199.0   LOC           Teestube
3  199.0   ORG                VSG
4  199.0   ORG                HAG
5  199.0   ORG                HAM
9   12.0   PER  Adelheid Lissmann

In [3]:
from bbw import bbw

In [7]:
Y=bbw.pd.DataFrame([['0','1'],['Mannheim','Rhine']])
Y.head()
type(Y)

[web_table, url_table, label_table, cpa, cea, cta] = bbw.annotate(Y)

In [15]:
cta

  file  column                                  itemType
0            0   http://www.wikidata.org/entity/Q3257686
1            1  http://www.wikidata.org/entity/Q55659167

In [16]:
[cpa_list, cea_list, nomatch] = bbw.contextual_matching(bbw.preprocessing(Y))
[cpa, cea, cta] = bbw.postprocessing(cpa_list, cea_list)

In [19]:
Y

          0      1
0         0      1
1  Mannheim  Rhine

In [18]:
cea

  file  row  column                                  item
0         1       0  http://www.wikidata.org/entity/Q2119
1         1       1   http://www.wikidata.org/entity/Q584

In [72]:
test = dataframe.sample(2)#.filter(items=['name'])
test

        id label           name
574   90.0   ORG  Frauenzentrum
890  228.0   ORG          Kofra

In [86]:
res = []

for row in test.index:
    #print(test["name"][row])
    name = test["name"][row]

    Y=bbw.pd.DataFrame([['0'],[name]])
    #print(Y)
    [cpa_list, cea_list, nomatch] = bbw.contextual_matching(bbw.preprocessing(Y))
    [cpa, cea, cta] = bbw.postprocessing(cpa_list, cea_list)
    print(cea_list)
    
    res.append(cea_list)

[['', 1, 0, ['http://www.wikidata.org/entity/Q60501765', 'https://de.wikipedia.org/wiki/Frauenzentrum'], ['http://www.wikidata.org/entity/Q4167410'], 'SPARQL', 'Frauenzentrum'], ['', 1, 1, ['http://www.wikidata.org/entity/Q60501765'], ['http://www.wikidata.org/entity/Q4167410'], 'Step 2: SPARQL', 'Frauenzentrum']]
[['', 1, 0, ['http://www.wikidata.org/entity/Q48200', 'http://www.wikidata.org/entity/Q102233446'], ['http://www.wikidata.org/entity/Q41298', 'http://www.wikidata.org/entity/Q48242'], 'SPARQL', 'Kofra']]

In [87]:
res

[[['',
   1,
   0,
   ['http://www.wikidata.org/entity/Q60501765',
    'https://de.wikipedia.org/wiki/Frauenzentrum'],
   ['http://www.wikidata.org/entity/Q4167410'],
   'SPARQL',
   'Frauenzentrum'],
  ['',
   1,
   1,
   ['http://www.wikidata.org/entity/Q60501765'],
   ['http://www.wikidata.org/entity/Q4167410'],
   'Step 2: SPARQL',
   'Frauenzentrum']],
 [['',
   1,
   0,
   ['http://www.wikidata.org/entity/Q48200',
    'http://www.wikidata.org/entity/Q102233446'],
   ['http://www.wikidata.org/entity/Q41298',
    'http://www.wikidata.org/entity/Q48242'],
   'SPARQL',
   'Kofra']]]

,0,0
1,"<a target=""_blank"" href=""http://www.wikidata.o...","<a target=""_blank"" href=""http://www.wikidata.o..."
property,,"<a target=""_blank"" href=""http://www.wikidata.o..."
type,"<a target=""_blank"" href=""http://www.wikidata.o...","<a target=""_blank"" href=""http://www.wikidata.o..."